.navar {
  padding-top: 20px;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(185, 243, 224, 0.574);
}

.navar li {
  margin-left: 50px;
  padding-bottom: 21px;
}

.body {
  background-color: blanchedalmond;
}

.logo {
  height: 30px;
}

link {
  text-decoration: none;
  color: brown;
}

@media (max-width: 768px) {
  .navar {
    flex-direction: column;
    padding-top: 15px;
  }

  .navar li {
    margin-left: 0;
    margin-bottom: 10px;
  }
  
  .logo {
    height: 25px;
  }
}
